
    <acme-navbar></acme-navbar>
         <div id="wrapper">
            <!-- Sidebar -->
            <nav-lateral></nav-lateral>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
               <div class="container-fluid xyz-2">
                   <div class="row">
                      <div class="col-lg-12">
                           <div id='mainMini'>
                                 <article id="articleMini">
                                       <h4><strong>¡Obtén $ 5 por la publicación!</strong></h4>
                                       <p>Comparte esta tarjeta de regalo de 5 dólares con tus amigos,<br>y recibe lo mismo para ti ahora gratis ;-)</p>
                                      
                                    <!-- Facebook -->
                                    <div class="slide-socialMini">
                                       <div class="button">
                                       <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
                                       </div>
                                       <div class="facebook icon"> <i class="fa fa-facebook"></i> </div>
                                       <div class="facebook slide">
                                       <p id="ParrafoRedSocial">Publique el descuento en Facebook »</p>
                                       </div>
                                       </div>

                                       <!-- Twitter -->
                                       <div class="slide-socialMini">
                                       <div class="button"> <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://google.com" data-text="Google.com" data-via="cssscript">tweet</a> </div>
                                       <div class="twitter icon"> <i class="fa fa-twitter"></i> </div>
                                       <div class="twitter slide">
                                       <p id="ParrafoRedSocial">Publique el descuento en Twitter »</p>
                                       </div>
                                       </div>
                                       
                                       
                                       <!-- Twitter JS --> 
                                       <!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> -->
                                       
                                     <p id="parrafoContenidoMini">Bueno para compras desde 99. La oferta es limitada.</p>
                                      
                                 </article>
                                 <!-- <nav id="navMini"><img id="userMini" src="assets/images/persona1.png" alt=""></nav> -->
                              </div>
                         
                      </div>
                   </div>
                </div> 
            </div>
            <!-- /#page-content-wrapper -->
         </div>
         <!-- /#wrapper -->
         <!-- jQuery -->
         <!-- <!-- <nav-down></nav-down> --> -->