
    <acme-navbar></acme-navbar>
    <div id="wrapper">
       <!-- Sidebar -->
       <nav-lateral></nav-lateral>
       <!-- /#sidebar-wrapper -->
       <!-- Page Content -->
       <div id="page-content-wrapper">
          <div class="container-fluid xyz-2">
              <div class="row">
                 <div class="col-lg-12">
                      <div id='mainMini'>
                            <article id="articleMini">
                                <h1 class="text-center">Get your promo code</h1>
                                <h4 class="text-center" id="buyOrange">5%</h4>
                                <h4 class="text-center">for the list of the products <strong>in your cart</strong></h4>
                                <div id="div-buttomOrange"><button class="btnMotivation orange" type="button"><span><strong>Get >></strong></span></button></div>
                                <a href=""><h6 class="text-center" id="smollLetter">not this time, thank you</h6></a>
                                
                                      
                                      
                            </article>
                            <nav id="navMini"><img id="navImage-1Mini" src="assets/images/persona1.png" alt=""></nav>
                         </div>
                    
                 </div>
              </div>
           </div> 
       </div>
       <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <!-- <nav-down></nav-down> -->