
    <acme-navbaren></acme-navbaren>
    <div id="wrapper">
       <!-- Sidebar -->
       <nav-lateralen></nav-lateralen>
       <!-- /#sidebar-wrapper -->
       <!-- Page Content -->
       <div id="page-content-wrapper">
          <div class="container-fluid xyz-2">
              <div class="row">
                 <div class="col-lg-12">
                      <div id='mainMini'>
                            <article id="articleMini">
                                  <h4><strong>Get $5 for the post!</strong></h4>
                                  <p>Share this 5 Dollars gift card with your friends,<br>and receive the same for yourself now for free ;-)</p>
                                 
                               <!-- Facebook -->
                               <div class="slide-socialMini">
                                  <div class="button">
                                  <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
                                  </div>
                                  <div class="facebook icon"> <i class="fa fa-facebook"></i> </div>
                                  <div class="facebook slide">
                                  <p id="ParrafoRedSocial">Post the discount on Facebook»</p>
                                  </div>
                                  </div>

                                  <!-- Twitter -->
                                  <div class="slide-socialMini">
                                  <div class="button"> <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://google.com" data-text="Google.com" data-via="cssscript">tweet</a> </div>
                                  <div class="twitter icon"> <i class="fa fa-twitter"></i> </div>
                                  <div class="twitter slide">
                                  <p id="ParrafoRedSocial">Post the discount on Twitter »</p>
                                  </div>
                                  </div>
                                  
                                  
                                  <!-- Twitter JS --> 
                                  <!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> -->
                                  
                                <p id="parrafoContenidoMini">Good for purchases from 99. The offer is limited.</p>
                                 
                            </article>
                            <!-- <nav id="navMini"><img id="userMini" src="assets/images/persona1.png" alt=""></nav> -->
                         </div>
                    
                 </div>
              </div>
           </div> 
       </div>
       <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <!-- <nav-down></nav-down> -->