
    <acme-navbaren></acme-navbaren>
    <div id="wrapper">
       <!-- Sidebar -->
       <nav-lateralen></nav-lateralen>
       <!-- /#sidebar-wrapper -->
       <!-- Page Content -->
       <div id="page-content-wrapper">
          <div class="container-fluid xyz">
              <div class="row">
                 <div class="col-lg-12">
                      <header>
                            <h4 id="titleCard" style="color:white">BitRewards Stay Cool</h4>
                            <h4 id="titleCard-1" style="color:white">This offer expires in:</h4>
                         <!-- <div class="container-fluid">
                            <div class="row"> -->
                              <!-- <div class="page-header">
                                <h1>Worktimer <small>Application</small></h1>
                                <p class="text-center text-ack"></p>
                              </div> -->
                              <!-- <div id="errorMessage" class="sr-only" role="error"></div> 
                              <button type="button" class="btn btn-primary center-block btn-lg" id="refresh" class="sr-only"><span class="glyphicon glyphicon-refresh"></button> -->
                               <span id="indicatorTime">dias&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; horas&nbsp;&nbsp;&nbsp;&nbsp; minutos&nbsp;&nbsp; &nbsp;segundos</span>
                              <h1 id="time" class="text-center clock-timer">00:00:00:00</h1>
                              <div id="clocktimer"></div> 
                              <!-- <div id="inputArea">
                                <input type="text" id="minutes" class="input-lg center-block" placeholder="ENTER MINUTES ONLY"><br>
                                  <button type="button" id ="breakBtn" class="btn btn-primary btn-lg center-block"><span class="glyphicon glyphicon-time"></span> BREAK</button>
                              </div> -->
                              <!-- <div id="pauseArea">
                                <button type="button" id ="pauseBtn" class="btn btn-primary btn-lg center-block"><span class="glyphicon glyphicon-pause"></button>
                              </div>
                              <div id="resumeArea">
                                <button type="button" id ="resumeBtn" class="btn btn-primary btn-lg center-block"><span class="glyphicon glyphicon-play"></button>
                              </div> -->
                            <!-- </div>
                          </div> -->
                         </header>
                      <div id='main'>
                         <article id="article-1">
                            <h1 class="text-center">Get your promo code</h1>
                            <h4 class="text-center" id="buyOrange">5<span>%</span></h4>
                            <h4 class="text-center">for the list of the products <strong>in your cart</strong></h4>
                            <div id="div-buttomOrange"><button class="btnMotivation orange" type="button"><span><strong>Get >></strong></span></button></div>
                            <a href=""><h6 class="text-center" id="smollLetter">not this time, thank you</h6></a>
                            
                                  
                                  
                         </article>
                         <nav><img id="navImage-1" src="assets/images/persona1.png" alt=""></nav>
                         <aside>
                             <div id="scrollCard">
                                <div id="cardbuy">
                                        <div class="row">
                                                <div class="col-sm-4" style="background-color:rgb(255, 255, 255);"><img id="imageCards" src="assets/images/cast.png" alt=""></div>
                                                <div class="col-sm-7" style="background-color:rgb(255, 255, 255);"><h4>chromecast...</h4><p style="font-size: 160%"><strong>$9</strong></p></div>
                                               
                                            </div>
                                    </div>
                                <div id="cardbuy">
                                        <div class="row">
                                                <div class="col-sm-4" style="background-color:rgb(255, 255, 255);"><img id="imageCards" src="assets/images/silla.png" alt=""></div>
                                                <div class="col-sm-7" style="background-color:rgb(255, 255, 255);"><h4>Silla de oficina...</h4><p style="font-size: 160%"><strong>$9</strong></p></div>
                                               
                                            </div>
                                    </div>
                                <div id="cardbuy">
    
                                    </div>
                                <div id="cardbuy">

                                    </div>
                                <div id="cardbuy">
    
                                    </div>
                                <div id="cardbuy">
    
                                    </div>
                             </div>
                             
                            <!-- <img id="cardGold" src="assets/images/card.jpg" alt="" width="320px">
                            <h1>$5</h1>
                            <h6>discount</h6> -->
                            <a href="#" class="button-1 js-button" role="button">Show content</a>
                               <!-- <div class="content">
                               <p>This demonstrates how to markup an <code>&lt;anchor&gt;</code> element as if it were a <code>&lt;button&gt;</code> element.</p>
                               <p>Key takeaway is to add <code>role="button"</code> and handle the 'space' key as native buttons will excecute JS events on 'space' keypress by default.</p>
                               </div> -->
                               <p id="parrafoUltimo">Good for purchases from 9</p>
                               <p id="parrafoUltimoAbajo">Hecho en KryptoRedeem</p>
                         </aside>
                      </div>
                      <!-- <footer>pie</footer> -->
                      <!-- <div id='envelope'>
                            <div id='card'>
                              <p>
                                Thank You Clement Ng!
                              </p>
                              <div id='dribbble'></div>
                            </div>
                          </div> -->
                    <!-- <div id="div-image">
                      
                      <img src="assets/images/persona1.png" alt="">
                    </div> -->
                    <!-- <div class="container-fluid">
                      <div class="row"> -->
                         <!-- <div class="jumbotron text-center"> -->
                            <!-- <div id="titleCard">
                               <h4>BitRewards Stay Cool</h4>
                               fgdgfsd -->
                            <!-- </div> -->
                         <!-- </div> -->
                      <!-- </div>
                   </div> -->
                 </div>
              </div>
           </div> 
       </div>
       <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <!-- <nav-down></nav-down> -->