
    <acme-navbar></acme-navbar>
    <div id="wrapper">
       <!-- Sidebar -->
       <nav-lateral></nav-lateral>
       <!-- /#!sidebar-wrapper -->
       <!-- Page Content -->
       <div id="page-content-wrapper">
          <div class="container-fluid xyz">
              <div class="row">
                 <div class="col-lg-12">
                      
                      <div id='main'>
                         <article id="articleReferencia">
                            <div class="contenedor">
  
                                <div class="sidebar ancho">
                                  <!-- <div class="logo text-warning">
                                    <i class="fa fa-ravelry fa-2x logo-sym"></i><span class="logo-texto">Club Alpispa</span>
                                  </div> -->
                              
                                  <div class="user">
                                    <img src="https://source.unsplash.com/VM42AzcEBdI/50x50/?faces" alt="">
                                    <a><span class='user-nombre' id="botonMenuSecundario1">login</span></a>
                                  </div>
                              
                                  <nav class="menu-nav">
                                    <ul>
                                      <!-- <li class="menu-titles">principal</li> -->
                                      <!-- <li class="menu-items"><a href="#!/hreferencia"><i class='fa fa-tachometer  menu-nav--icon fa-fw'></i><span>Dashboard</span></a> -->
                                        <!-- <a href='#!' class="menu-boton"><i class='fa fa-caret-right'></i></a>
                                        <ul class="menu-nav-seg">
                                          <li class="menu-items-seg"><a href="#!">Opción uno</a></li>
                                          <li class="menu-items-seg"><a href="#!">Opción dos</a></li>
                                          <li class="menu-items-seg"><a href="#!">Opción tres</a></li>
                                        </ul> -->
                                      <!-- </li> -->
                                      <li class="menu-items" id="botonMenuSecundario2"><a href="#!/loyalty"><i class='fa fa-dashboard  menu-nav--icon fa-fw'></i><span class="menu-items">Gana BIT</span></a></li>
                                      <!-- <li class="menu-titles">secundario</li> -->
                                      <li class="menu-items" id="botonMenuSecundario3"><a href="#!/loyalty"><i class='fa fa-inbox  menu-nav--icon fa-fw'></i><span class="menu-items">Gastar BIT</span></a></li>
                                      <li class="menu-items" id="botonMenuSecundario4"><a href="#!/loyalty"><i class='fa fa-file-text-o  menu-nav--icon fa-fw'></i><span class="menu-items">Invita a un amigo</span></a></li>
                                      <li class="menu-items" id="botonMenuSecundario5"><a href="#!/loyalty"><i class='fa fa-file-text-o  menu-nav--icon fa-fw'></i><span class="menu-items">Historial</span></a></li>
                              
                                    </ul>
                                  </nav>
                                </div>
                                <div class="main bg-light">
                                  <div class="barra">
                                    <a class= 'menu-toggle'><i class="fa fa-bars menu-nav--icon"></i></a>
                                  
                                  </div>
                                  
                                  
                                  <div class="main-container">
                                    
                                    <div class="bg-white">
                                        <div id="pruebahideshow1">
                                            <h1 class="text-center" id="title-SubTitle">¡Recibiste 100 BIT por tu visita!</h1>
                                            <h4 class="text-center" id="title-SubTitle-1">Use una de las redes sociales para iniciar sesión:</h4>
                                            <div id="social"><a class="facebookBtn smGlobalBtn" href="#!" ></a>
                                                <a class="twitterBtn smGlobalBtn" href="#!" ></a>
                                                <a class="googleplusBtn smGlobalBtn" href="#!" ></a>
                                                <!-- <a class="linkedinBtn smGlobalBtn" href="#!" ></a>
                                                <a class="pinterestBtn smGlobalBtn" href="#!" ></a>
                                                <a class="tumblrBtn smGlobalBtn" href="#!" ></a>
                                                <a class="rssBtn smGlobalBtn" href="#!" ></a> -->
                                            </div>
                                            <h4 class="text-center">o inicie sesión con su correo electrónico</h4>
                                            <div class="form-field-box">
                                                <input placeholder="Your email" type="text" name="email" data-validate="true" data-required="true" data-validate-mode="email" 
                                                required="required" class="form-field form-field_type_text js-email-or-phone c-primary-input"> 
                                                <button class="btn orange" type="button"><span>Continue</span></button>
                                            </div>
                                            <!-- <label ng-repeat="item in items" id="checkbox">
                                                    <input 
                                                                
                                                              type="checkbox" 
                                                              name="mycheckbox" 
                                                              ng-model= "item.checked"
                                                              ng-click="checkedFun(item)"
                                                              ng-disabled="checkedCount >= 3 && !item.checked"
                                                              ng-value='item.id'
                                                                     ng-checked='item.checked'/>  
                                                                    <span id="segurity">I agree to the Privacy Policy and Terms of Service</span>
                                                  </label> -->
                                                
                                        </div>
                                      <div id="pruebahideshow2">
                                            <h1 class="text-center" >Gana BIT</h1>
                                            <div class="padreLoyalty">
                                                <div class="hijoLoyalty">Bloque 1 <div id="rellenoGray"></div></div>
                                                <div class="hijoLoyalty">Bloque 2 <div id="rellenoGray"></div></div>
                                                <div class="hijoLoyalty">Bloque 3 <div id="rellenoGray"></div></div>
                                                <div class="hijoLoyalty">Bloque 4 <div id="rellenoGray"></div></div>
                                                <div class="hijoLoyalty">Bloque 5 <div id="rellenoGray"></div></div>
                                                <div class="hijoLoyalty">Bloque 6 <div id="rellenoGray"></div></div>
                                                <div class="hijoLoyalty">Bloque 7 <div id="rellenoGray"></div></div>
                                              </div>
                                      </div>
                                      <div id="pruebahideshow3">
                                        <h1 class="text-center" >Gastar BIT</h1>
                                        <div class="padreLoyalty">
                                            <div class="hijoLoyalty">Bloque 1 <div id="rellenOrange"></div></div>
                                            <div class="hijoLoyalty">Bloque 2 <div id="rellenOrange"></div></div>
                                            <div class="hijoLoyalty">Bloque 3 <div id="rellenOrange"></div></div>
                                            <div class="hijoLoyalty">Bloque 4 <div id="rellenOrange"></div></div>
                                            <div class="hijoLoyalty">Bloque 5 <div id="rellenOrange"></div></div>
                                            <div class="hijoLoyalty">Bloque 6 <div id="rellenOrange"></div></div>
                                            <div class="hijoLoyalty">Bloque 7 <div id="rellenOrange"></div></div>
                                          </div>
                                      </div>
                                      <div id="pruebahideshow4">
                                        <div id="momo">
                                            <img class="imagen" src="https://em.wattpad.com/3570d04f2530b1aac91224f970ad6e7edea6e0cd/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f316b783651776834595a32692d513d3d2d3431383639323338372e313464383563383939303432623763333835343231303735383333382e676966?s=fit&w=720&h=720">
                                          </div>
                                          <h3 class="text-center">Recibirá 22308 BIT por cada $ 100 de compras de sus amigos. 
<br><br>
                                            Tus amigos recibirán un descuento del 5%</h3>
                                            <div id="social"><a class="facebookBtn smGlobalBtn" href="#!" ></a>
                                              <!-- <a class="twitterBtn smGlobalBtn" href="#!" ></a>
                                              <a class="googleplusBtn smGlobalBtn" href="#!" ></a> -->
                                              <!-- <a class="linkedinBtn smGlobalBtn" href="#!" ></a>
                                              <a class="pinterestBtn smGlobalBtn" href="#!" ></a>
                                              <a class="tumblrBtn smGlobalBtn" href="#!" ></a>
                                              <a class="rssBtn smGlobalBtn" href="#!" ></a> -->
                                              <a class="mailBtn smGlobalBtn" href="#!" ></a>
                                          </div>
                                          <h5 class="text-center">o copie y envíe el enlace:</h5>
                                          <div class="copy-link-container">
                                            <div class="copy-header"></div>
                                            <div class="copy-link">
                                              <span class="copy-link-icon">icon</span>
                                              <div class="copy-link-inner">
                                                <form data-copy=true>
                                                  <input id="inputText" type="text" value="https://oeste.xyz/" data-click-select-all />
                                                  <input id="inputSubmit" type="submit" value="Copy" />
                                                </form>
                                              </div>
                                            </div>
                                          </div>
                                      </div>

                                      <div id="pruebahideshow5">
                                        <h1 class="text-center" >historial</h1>
                                      </div>
                                    </div>
                                    
                                    <div class="d-flex mt-3">
                                      
                                    </div>
                                    
                                    
                                  </div>
                              
                                </div>
                                
                              </div>
                              
                                  
                         </article>
                      </div>
                 </div>
              </div>
           </div> 
       </div>
    </div>
    <!-- <nav-down></nav-down> -->