<div>
    <div class="welcome">
      <div class="welcomehijo">
        <h1>Welcome {{userNameRegister}}</h1>
      </div>
    </div>
    <acme-navbaren></acme-navbaren>
         <div id="wrapper">
            <!-- Sidebar -->
            <nav-lateralen></nav-lateralen>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
               <div class="container-fluid xyz">
                   <div class="row">
                      <div class="col-lg-12">
                           <!-- <header>
                                 <h4 id="titleCard" style="color:white">BitRewards Stay Cool</h4>
                                 <h4 id="titleCard-1" style="color:white">This offer expires in:</h4>
                                <span id="indicatorTime">dias&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; horas&nbsp;&nbsp;&nbsp;&nbsp; minutos&nbsp;&nbsp; &nbsp;segundos</span>
                                <h1 id="time" class="text-center clock-timer">00:00:00:00</h1>
                                <div id="clocktimer"></div>    -->
                                <!-- <div id="clocktimer">
                                    <div class="row">
                                        <div class="col-sm-4">
                                         
                                        </div>
                                        <div class="col-sm-4">
                                            <span id="indicatorTime">dias&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; horas&nbsp;&nbsp;&nbsp;&nbsp; minutos&nbsp;&nbsp; &nbsp;segundos</span>
                                        </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-sm-4">
                                              <h4 id="titleCard-1" style="color:white">This offer expires in:</h4>
                                          </div>
                                          <div class="col-sm-4">
                                              <h1 id="time" class="text-center clock-timer">00:00:00:00</h1>
                                          </div>
                                        </div>
                                  
                                  
                                  
                                 </div> -->
                              <!-- </header> -->
                           <div id='main'>
                              <article>
                                 <h1>Get $5 for the post!</h1>
                                 <h6>Share this 5 Dollars gift card with your friends, and receive the same for yourself now for free ;-)</h6>
                                 
                                       <!-- Facebook -->
                                       <div class="slide-social">
                                       <div class="button">
                                       <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgoogle.com%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
                                       </div>
                                       <div class="facebook icon"> <i class="fa fa-facebook"></i> </div>
                                       <div class="facebook slide">
                                       <p id="ParrafoRedSocial">Post the discount on Facebook»</p>
                                       </div>
                                       </div>

                                       <!-- Twitter -->
                                       <div class="slide-social">
                                       <div class="button"> <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://google.com" data-text="Google.com" data-via="cssscript">tweet</a> </div>
                                       <div class="twitter icon"> <i class="fa fa-twitter"></i> </div>
                                       <div class="twitter slide">
                                       <p id="ParrafoRedSocial">Post the discount on Twitter »</p>
                                       </div>
                                       </div>
                                       
                                       
                                       <!-- Twitter JS --> 
                                       <!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> -->
                                       
                                     <p id="parrafoContenido">Good for purchases from 99. The offer is limited.</p>
                                     <div class="centerComponents">
                                      <img id="logotipo2" src="assets/images/avatar.jpg" alt="" >
                                    </div>
                                     <!-- <div id="slider-k">
                                          <div class="frame-k">
                                              <img src="http://lorempixel.com/500/300/nature" alt="" />
                                          </div>
                                          <div class="frame-k">
                                              <img src="http://lorempixel.com/500/300/animals" alt="" />
                                          </div>
                                          <div class="frame-k">
                                              <img src="http://lorempixel.com/500/300/people" alt="" />
                                          </div>
                                          <div class="frame-k">
                                              <img src="http://lorempixel.com/500/300/transport" alt="" />
                                          </div>
                                      </div> -->
                                       
                              </article>
                              <!-- <nav><img src="assets/images/persona1.png" alt=""></nav> -->
                              <aside>
                                <img id="cardGold" src="assets/images/giftcardazul.png" alt="" width="320px">
                                 <h1>$5</h1>
                                 <h6>discount</h6>
                                 <a href="#" class="button-1 js-button" role="button">Show content</a>
                                    <!-- <div class="content">
                                    <p>This demonstrates how to markup an <code>&lt;anchor&gt;</code> element as if it were a <code>&lt;button&gt;</code> element.</p>
                                    <p>Key takeaway is to add <code>role="button"</code> and handle the 'space' key as native buttons will excecute JS events on 'space' keypress by default.</p>
                                    </div> -->
                                    <p id="parrafoUltimo">Good for purchases from 9</p>
                                    <p id="parrafoUltimoAbajo">Hecho en KryptoRedeem</p>
                              </aside>
                           </div>
                           <!-- <footer>pie</footer> -->
                           <!-- <div id='envelope'>
                                 <div id='card'>
                                   <p>
                                     Thank You Clement Ng!
                                   </p>
                                   <div id='dribbble'></div>
                                 </div>
                               </div> -->
                         <!-- <div id="div-image">
                           
                           <img src="assets/images/persona1.png" alt="">
                         </div> -->
                         <!-- <div class="container-fluid">
                           <div class="row"> -->
                              <!-- <div class="jumbotron text-center"> -->
                                 <!-- <div id="titleCard">
                                    <h4>BitRewards Stay Cool</h4>
                                    fgdgfsd -->
                                 <!-- </div> -->
                              <!-- </div> -->
                           <!-- </div>
                        </div> -->
                      </div>
                   </div>
                </div> 
            </div>
            <!-- /#page-content-wrapper -->
         </div>
         <!-- /#wrapper -->
         <!-- jQuery -->
         <!-- <nav-down></nav-down> --> 
</div>