
    <acme-navbaren></acme-navbaren>
    <div id="wrapper">
       <!-- Sidebar -->
       <nav-lateralen></nav-lateralen>
       <!-- /#sidebar-wrapper -->
       <!-- Page Content -->
       <div id="page-content-wrapper">
          <div class="container-fluid xyz-2">
              <div class="row">
                 <div class="col-lg-12">
                      <div id='mainMini'>
                            <article id="articleMini">
                                <h1 class="text-center">Hurry up and save!</h1>
                                <h4 class="text-center">Get <strong>7.47 Dollars,</strong> and have fun ;-)</h4>
                                <div id="div-buttomOrange"><button class="btnMotivation orange" type="button"><span><strong>Get a discount $7.47>></strong></span></button></div>
                                <a href=""><h6 class="text-center" id="smollLetter">Good for purchases from 99</h6></a>
                                
                                      
                                      
                            </article>
                            <nav id="navMini"><img id="navImage-3Mini" src="assets/images/persona1.png" alt=""></nav>
                         </div>
                    
                 </div>
              </div>
           </div> 
       </div>
       <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <!-- <nav-down></nav-down> -->