
    <acme-navbar></acme-navbar>
    <div id="wrapper">
       <!-- Sidebar -->
       <nav-lateral></nav-lateral>
       <!-- /#sidebar-wrapper -->
       <!-- Page Content -->
       <div id="page-content-wrapper">
          <div class="container-fluid xyz-2">
              <div class="row">
                 <div class="col-lg-12">
                      <div id='mainMini'>
                            <article id="articleSlider">
                                   
                                    <div class="slider">	
                                            <!-- Radio inputs to control slides -->
                                            <input type="radio" name="slides" id="01" checked="checked">
                                            <input type="radio" name="slides" id="02">
                                            <input type="radio" name="slides" id="03">
                                            <input type="radio" name="slides" id="04">
                                            <input type="radio" name="slides" id="05">
                                            <input type="radio" name="slides" id="06">
                                            <input type="radio" name="slides" id="07">
                                            <input type="radio" name="slides" id="08">
                                            
                                            <!-- slidePhoto navigation -->
                                            <input type="radio" id="previous" name="navigation">
                                            <input type="radio" id="next" name="navigation">
                                            <label for="previous" class="flechas left"></label>
                                            <label for="next" class="flechas right"></label>
                                            
                                            <!-- Large preview of selected slide -->
                                            <div class="preview">
                                                <div class="slidePhoto"></div>
                                                <div class="slidePhoto"></div>
                                                <div class="slidePhoto"></div>
                                                <div class="slidePhoto"></div>
                                                <div class="slidePhoto"></div>
                                                <div class="slidePhoto"></div>
                                                <div class="slidePhoto"></div>
                                                <div class="slidePhoto"></div>
                                            </div>
                                            
                                            <!-- Click to reveal the slides -->
                                            <input id="open" type="checkbox" checked="checked">
                                            <label for="open"></label>
                                            
                                            <div class="thumbs">		
                                                <label class="thumbnail" for="01"></label>
                                                <label class="thumbnail" for="02"></label>
                                                <label class="thumbnail" for="03"></label>
                                                <label class="thumbnail" for="04"></label>
                                                <label class="thumbnail" for="05"></label>
                                                <label class="thumbnail" for="06"></label>
                                                <label class="thumbnail" for="07"></label>
                                                <label class="thumbnail" for="08"></label>
                                            </div>		
                                        </div>
      
                            </article>
                         </div>
                    
                 </div>
              </div>
           </div> 
       </div>
       <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <!-- <nav-down></nav-down> -->