<div>
   <div id="sidebar-wrapper">
      <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
          <li>
              <span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span><strong>Atrayendo clientes</strong>
           </li>
         <li class="active">
            <a href="#!"><span class="fa-stack fa-lg pull-left"><i class="fa fa-shopping-bag fa-stack-1x "></i></span><span id="textNavLateral"> widget</span></a><!--<span><i id="video" class="fa fa-play"></i></span>-->
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
               <li><a href="#!/widgetes"><span class="fa-stack fa-lg pull-left"></span><span class="fa-stack fa-lg pull-left"><i class="fa fa-circle fa-stack-1x "></i></span>versión normal</a></li>
               <li><a href="#!/mini1"><span class="fa-stack fa-lg pull-left"></span><span class="fa-stack fa-lg pull-left"><i class="fa fa-circle fa-stack-1x "></i></span>versión mini</a></li>
            </ul>
         </li>
         <li>
            <a href="#!/hreferencia"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span><span id="textNavLateral"> Herramienta de Referencia</span></a> 
         </li>
         <!-- <li>
            <a href="#!"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Card for social networks</a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
             <li><a href="#!/RedSocial"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>versión normal</a></li>  
             <li><a href="#!/RedSocialMini"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>versión mini</a></li>
            </ul>
         </li> -->
         <li>
            <span class="fa-stack fa-lg pull-left"><i class="fa fa-balance-scale fa-stack-1x "></i></span><strong>Valor medio del pedido</strong>
         </li>
         <!-- <li>
            <a href="#!"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Motivational Tool</a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
               <li><a href="#!/motivacion"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>versión normal</a></li>
               <li><a href="#!/motivacionMini"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>versión mini</a></li>
            </ul>
         </li> -->
         <li>
            <a href="#!"><span class="fa-stack fa-lg pull-left"><i class="fa fa-line-chart fa-stack-1x "></i></span><span id="textNavLateral"> Encuesta en linea</span></a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                <li><a href="#!/encuesta"><span class="fa-stack fa-lg pull-left"></span><span class="fa-stack fa-lg pull-left"><i class="fa fa-circle fa-stack-1x "></i></span>versión normal</a></li>
                <li><a href="#!/encuestaMini"><span class="fa-stack fa-lg pull-left"></span><span class="fa-stack fa-lg pull-left"><i class="fa fa-circle fa-stack-1x "></i></span>versión mini</a></li>
                <li><a href="#!/testimonios"><span class="fa-stack fa-lg pull-left"></span><span class="fa-stack fa-lg pull-left"><i class="fa fa-circle fa-stack-1x "></i></span>Pagina de testimonios</a></li>
             </ul>
          </li>
         <!-- <li>
            <a href="#!/Maxi"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>Maxi-cart</a>
         </li> -->
         <!-- <li>
            <a href="#!/negocio"><span class="fa-stack fa-lg pull-left"><i class="fa fa-youtube-play fa-stack-1x "></i></span>Bargainer widget</a>
         </li> -->
         <li>
            <span class="fa-stack fa-lg pull-left"><i class="fa fa-heart-o fa-stack-1x "></i></span><strong>fidelización con clientes</strong>
         </li>
         <li>
            <a href="#!/loyalty"><span class="fa-stack fa-lg pull-left"><i class="fa fa-gift fa-stack-1x "></i></span><span id="textNavLateral"> Programa de fidelidad</span></a>
         </li>
         <!-- <li>
            <span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Gift solutions
         </li>
         <li>
            <a href="#!"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Gift Cards</a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                <li><a href="#!"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Hermosa postal</a></li>
                <li><a href="#!"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Pagina del participante</a></li>
                <li><a href="#!"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Pagina del organizador</a></li>
             </ul>
          </li>
          <li>
              <a href="#!/prueba"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Gift online</a>
              
           </li>
          <li>
             <a href="#!"><span class="fa-stack fa-lg pull-left"></span></a>
             
          </li>
          <li>
                <a href="#!"><span class="fa-stack fa-lg pull-left"></span></a>
                
             </li>
          <li>
                <a href="#!"><span class="fa-stack fa-lg pull-left"></span></a>
                
             </li> -->
      </ul>
   </div>
</div>


